.filter {
  display: block;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow-x: auto;
  padding: $m-size 0;
}

.filter__label {
  font-size: 1.4rem;
  display: block;
  color: $gray;
  margin-bottom: $xs-size;
}

.filter__item {
  transition: all 0.16s linear;
  padding: 1rem;
  background-color: white;
  border: 1px solid lighten($gray, 20%);
  border-radius: 0.6rem;
  display: inline-block;
  color: darken($gray, 10%);
  cursor: pointer;

  & + & {
    margin-left: $s-size;
  }
}

.filter__item--active {
  background-color: darken($light-gray, 8%);
}