.comunicados {
  list-style: none;
  padding: 0;
  margin: $xs-size 0 $m-size;
}

.comunicados__item {
  transition: $transition-default;
  background: white;
  border-radius: 0.4rem;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  padding: 1.2rem 1.2rem 1.2rem $m-size;
  position: relative;
  cursor: pointer;

  & + & {
    margin-top: $s-size; 
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $xs-size;
    height: 100%;
    background: $gray;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  &:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
  }
}

.comunicados__item--seen {
  background-color: darken(white, 8%);

  &:before {
    opacity: 0.5;
  }
}

.comunicados__item--no-pointer {
  cursor: default;
}

.comunicados__item--blue:before {
  background: $blue;
}

.comunicados__item--green:before {
  background: $green;
}

.comunicados__item--purple:before {
  background: $purple;
}

.comunicados__item--orange:before {
  background: $orange;
}

.comunicados__row {
  display: flex;
}

.comunicados__title {
  font-weight: bold;
  font-size: $s-size;
  margin-bottom: $xs-size;
}

.comunicados__subtitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0;
}

.comunicados__id {
  @extend .comunicados__title;
  margin-left: auto;
}

.comunicados__type {
  font-size: 1.4rem;
  color: lighten($dark-gray, 20%);
}

.comunicados__date {
  @extend .comunicados__type;
  margin-left: auto;
}

.comunicados__description {
  @extend .comunicados__type;
  margin-top: 0.4rem;
}

.comunicados__separator {
  height: 0.1rem;
  width: 100%;
  background: darken($light-gray, 10%);
  margin: $m-size 0 $xs-size;
}