.header {
  height: $xxl-size;
  background: $purple;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  padding: 0 $s-size;
  display: flex;
}

.header__title {
  font-weight: bold;
  font-size: $m-size;
  line-height: $xxl-size;
}

.header__icon-menu {
  transition: $transition-default;
  font-size: 2rem;
  margin-right: $m-size;
  opacity: 0.6;
  line-height: $xxl-size;

  &:hover {
    opacity: 0.8;
  }
}

.header__icon-search {
  font-size: 2rem;
  margin-left: auto;
  opacity: 0.6;
  line-height: $xxl-size;  
}