html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  color: $dark-gray;
  background-color: $light-gray;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

button:disabled {
  cursor: default;
}